<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить заказ</title>
</head>
<body>
{% extends 'base.html' %}
    {% block content %}
<div class="row align-items-start" >
    <div class="col"  style="margin-top: 7%">
        <form method="post">
        {% if user.is_superuser %}
            <h1>Изменить заказ</h1>
            <form action="" method="post">
                {% csrf_token %}
                <h3 class="m-2">Пользователь</h3>
                {{ booking.user.first_name }} {{ booking.user.last_name }}
                <h3 class="m-2">Парикмахер</h3>
                {{ form.sauna }}
                <h3 class="m-2">Время стрижки</h3>
                {{ form.entry_time }}
                <p></p>
                <input class="btn btn-success" type="submit" value="Сохранить" />
            </form>
        {% else %}
            <h1>Вы не можете изменить данные заказа</h1>
            <a href="{% url 'booking_list' %}" class="btn btn-secondary">Вернуться обратно</a>
        {% endif %}
        </form>
    </div>
</div>
    {% endblock content %}
</body>
</html>