<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мастера</title>
</head>
<body>
    {% extends 'base.html' %}
        {% block content %}

    <div class="col"  style="margin-top: 6%">


        {% if user.is_superuser %}
        <p class="navbar-brand" >Панель администратора</p>
        <a class="btn btn-success" href="{% url 'sauna_new' %}">Добавить</a>
        {% endif %}

        <h1 class="display-4 text-center m-4">Парикмахеры</h1>
        <div class="row">
            {% for sauna in object_list %}
            <div class="card bg-color m-4" style="width:20rem; height: 27rem; background-color: #dae0e5">
                <div id="carousel123" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        {% if sauna.photo1 != None %}
                        <div class="carousel-item active" data-interval="1000">
                            <img class="card-img-top" src="{{ sauna.photo1 }}" alt="Изображение мастера 1"
                                 style="object-fit:cover; width:20rem; height:15rem;"
                                 onclick="window.location.href = '{% url 'sauna_detail' sauna.pk %}'">
                        </div>
                        {% endif %}
                        {% if sauna.photo2 != None %}
                        <div class="carousel-item" data-interval="1000">
                            <img class="card-img-top" src="{{ sauna.photo2 }}" alt="Изображение мастера 2"
                                 style="object-fit:cover; width:20rem; height:15rem;"
                                 onclick="window.location.href = '{% url 'sauna_detail' sauna.pk %}'">
                        </div>
                        {% endif %}
                        {% if sauna.photo3 != None %}
                        <div class="carousel-item" data-interval="1000">
                            <img class="card-img-top" src="{{ sauna.photo3 }}" alt="Изображение мастера 3"
                                 style="object-fit:cover; width:20rem; height:15rem;"
                                 onclick="window.location.href = '{% url 'sauna_detail' sauna.pk %}'">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body" style="width:20rem;">
                    <p class="card-text">{{ sauna.description }}</p>
                    <p class="card-text">{{ sauna.price }} Р/час</p>
                    <a href="{% url 'sauna_detail' sauna.pk %}" class="btn btn-primary">Посмотреть</a>

                    {% if user.is_authenticated %}
                    <a href="{% url 'booking_new_params' sauna.pk 0 %}" class="btn btn-success">Записаться на стрижку</a>
                    {% else %}
                    <a href="{% url 'login'  %}" class="btn btn-success">Записаться на стрижку</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock content %}
</body>
</html>