{% extends 'base.html' %}
{% block title %}loh{% endblock %}
{% block content %}
<div class="row align-items-start" >
    <div class="col" style="margin-top: 10%">
        <form method="post">
            <div class="jumbotron" style="border-radius: 1rem;background: rgba(255,255,255,0.2);
                                                           -webkit-backdrop-filter: blur(10px);
                                                            backdrop-filter: blur(10px);
                                                            border: 1px solid rgba(255,255,255,0.1);">
            <h1 class="display-4 text-center m-4">Блог компании</h1>
            {% for blog in object_list %}
                    <h1 class="display-4 m-4">{{ blog.title }}</h1>
                    <p class="lead m-4">{{ blog.description }}</p>
                <p class="lead m-4">{{ blog.article }}</p>

                    {% if user.is_superuser %}
                        <p>
                        <p class="navbar-brand">Панель администратора</p>
                        <a class="btn btn-dark" href="{% url 'blog_edit' blog.pk %}">Редактировать</a>
                        <a class="btn btn-dark" href="{% url 'blog_new' %}">Добавить</a>
                        <a class="btn btn-danger" href="{% url 'blog_delete' blog.pk %}">Удалить</a>
                    {% endif %}
            {% endfor %}
            </div>
        </form>
    </div>
</div>
{% endblock %}
