<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статья</title>
</head>
<body>
    {% extends 'base.html' %}
        {% block content %}
            <div class="">
                <div class="jumbotron" style="">
                    <h1>{{ article.title }}</h1>
                    <p class="card-text text-break">{{ article.description }}</p>
                </div>
                <div class="jumbotron">
                    <p class="lead text-break">{{ article.article }}</p>
                </div>
                </div>

            {% if user.is_superuser %}
                <p>
                <p class="navbar-brand">Панель администратора</p>
                <a class="btn btn-primary" href="{% url 'blog_edit' article.pk %}">Редактировать</a>
                <a class="btn btn-danger" href="{% url 'blog_delete' article.pk %}">Удалить</a>
            {% endif %}
      {% endblock content %}
</body>
</html>