<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
</head>
<body>

{% block content %}
    <div id="carousel" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active" style="margin-top: 30%;">
                <img class="d-block w-100" src="{% static 'img/rus.jpg' %}" alt="...">
                 <div class="carousel-caption d-none d-md-block">
                    <h5>Метка первого слайда</h5>
                    <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
                 </div>
            </div>
            <div class="carousel-item" style="margin-top:30%;">
                <img class="d-block w-100" src="{% static 'img/turk.jpg' %}" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Метка первого слайда</h5>
                    <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
                </div>
            </div>
            <div class="carousel-item" style="margin-top: 30%;">
                <img class="d-block w-100" src="{% static 'img/finsk.jpg' %}" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Метка первого слайда</h5>
                    <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
                </div>
            </div>
        </div>
        <!-- Элементы управления -->
        <a class="carousel-control-prev" style="margin-top: 30%;" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
            <a class="carousel-control-next" style="margin-top: 30%;" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </a>
        </div>
    </div>
{% endblock %}

</body>
</html>
