{% extends 'base.html' %}
{% block title %}Form{% endblock %}
{% block content %}
<h1 class="display-4 container">Бронирование сауны</h1>
<div class="container">
<form class="row g-3">
  <div class="col-md-4">
    <label for="inputDate" class="form-label">Выберите дату</label>
    <input type="date" class="form-control" id="inputDate">
  </div>
  <div class="col-md-4">
    <label for="inputTime" class="form-label">Выберите время</label>
    <input type="time" class="form-control" id="inputTime">
  </div>

  <div class="col-md-4">
    <label for="inpuHours" class="form-label">Введите количество часов</label>
    <select class="form-control">
      <option selected></option>
      <option value="1">Один</option>
      <option value="2">Два</option>
      <option value="3">Три</option>
      <option value="4">Четыре</option>
      <option value="5">Пять</option>
      <option value="6">Шесть</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inpuHours" class="form-label">Выберите сауну</label>
    <select class="form-control">
      <option selected></option>
      <option value="1">"Блаженство"</option>
      <option value="2">"Relaxxx"</option>
      <option value="3">"Фарерский балдёж"</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inpuHours" class="form-label">Выберите зал</label>
    <select class="form-control">
      <option selected></option>
      <option value="1">Русский</option>
      <option value="2">Финский</option>
      <option value="3">Турецкий</option>
    </select>
  </div>
</div>







  <div class="col-12">
    <label for="inputAddress" class="form-label">Выберите сауну</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Проспект Ленина">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Выберите зал</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Квартира">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Город</label>
    <input type="text" class="form-control" id="inputCity" placeholder="Брянск">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Введите количество человек</label>
    <select id="inputState" class="form-select">
      <option selected>Выберите...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Индекс</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Проверить меня
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Войти в систему</button>
  </div>
</form>

{% endblock %}