{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}

{% block content %}

<style>
   .card {
    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
   }
   .card img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
   }
   .card img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
   .card-img-top{
    height:55%
   }
  </style>

  <div class="container">
    <div class="row align-items-start" >
      <div class="col"  style="margin-top: 12%">
    <h1 class="display-4" style="color: darkgrey"> Сеть саун "Блаженство"</h1>
    <p class="lead" style="color: darkgrey"> Сауна с русской парной, турецким хамамом и финской баней.</p>
    <p class="lead">
      {% if user.is_authenticated %}
      <a class="btn btn-light btn-lg" style="background: #eeeeee;
background: -webkit-radial-gradient(circle, #eeeeee 0%, #b8b8b8 100%);
background: radial-gradient(circle, #eeeeee 0%, #b8b8b8 100%);" href="{% url 'add' %} " role="button">Забронировать сауну</a>
      {% else %}
      <a class="btn btn-warning btn-lg" style="background: #f09819; background: -webkit-linear-gradient(0deg, #f09819 0%, #edde5d 100%); background: linear-gradient(0deg, #f09819 0%, #edde5d 100%);" href="http://127.0.0.1:8000/users/login/" role="button">Забронировать сауну</a>
      {% endif %}
    </p>
  </div>
    </div>
  </div>

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 5%;">
  <div class="col">
    <div class="card h-100">
      <a href="{% url 'saunaOne' %}">
        <img src="{% static 'img/rus.jpg' %}"  class="card-img-top" alt=""/></a>
          <div class="card-body">
            <h5 class="card-title">First sauna</h5>
            <p class="card-text">
              Giper saddd
            </p>
          </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a href="{% url 'saunaTwo' %}">
        <img src="{% static 'img/turk.jpg' %}" class="card-img-top" alt=""/></a>
      <div class="card-body">
        <h5 class="card-title">Two sauna</h5>
        <p class="card-text">
          Prosto texttt.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a href="{% url 'saunaThree' %}">
        <img src="{% static 'img/finsk.jpg' %}" class="card-img-top" alt=""/></a>
      <div class="card-body">
        <h5 class="card-title">Three sauna</h5>
        <p class="card-text">
          Mnogo slov, net
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>


{% endblock %}

  <a href="{% include 'carousel.html' %}"></a>